.form-center{
    margin: 0 auto;
    display: table;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-log{
    width: 100%;
}

.flex-disp{
    display: flex;
}
.flex-disp-content{
    margin:10px;
}