<div class="form-center">
  <div>
    <img class="img-center" src="../../assets/logo.png" />
  </div>
  <mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
  <mat-card class="login-card">
      
    <mat-card-header>
      <mat-card-title>Connexion au compte</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" autocomplete="off" class="login-form" (ngSubmit)="onSubmit(loginForm.value)">
        <!-- <mat-progress-bar mode="buffer"></mat-progress-bar> -->
        <mat-form-field class="input-log">
          <input matInput placeholder="Votre nom" name="LastName" formControlName="LastName" required>
          <mat-error *ngIf="hasError('LastName', 'required')">Le nom de famille est obligatoire!</mat-error>
        </mat-form-field>
        <mat-form-field class="input-log">
          <input matInput placeholder="Votre prénom" name="FirstName" formControlName="FirstName" required>
          <mat-error *ngIf="hasError('FirstName', 'required')">Le prénom est obligatoire!</mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!loginForm.valid" class="flex-disp-content">
            Se connecter
            <i class="material-icons">
              lock_open
            </i>
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
