<mat-nav-list>
  <a mat-list-item routerLink="/ListeComptes" (click)="onSidenavClose()">
    <mat-icon>euro_symbol</mat-icon> <span class="nav-caption">Liste des comptes</span>
  </a>
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <mat-icon>perm_identity</mat-icon> <span class="nav-caption">Informations personnelles</span>
  </a>
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <mat-icon>call_made</mat-icon> <span class="nav-caption">Nouveau virement</span>
  </a>
  <a mat-list-item routerLink="/" (click)="Deconnexion()">
    <mat-icon>lock</mat-icon><span class="nav-caption">Déconnexion</span>
  </a>
  <a mat-list-item (click)="onSidenavClose()">
      <mat-icon>close</mat-icon><span class="nav-caption">Fermer le menu</span>
    </a>
</mat-nav-list>
