.dialog {
  margin: 20px;
  width: 100%;

}

.alert {
  color: red;
}

@media (max-width: 989px) {
  mat-form-field {
    width: 100%;
  }
}

@media (min-width: 990px) {
  mat-form-field {
    width: 50%;
  }
}

@media(max-width:1080px){
  
  #flex-container {
    display: block;
    flex-direction: row;
  }
}
@media(min-width:1081px){
  #flex-container {
    display: flex;
    flex-direction: row;
  }
}

#flex-container > .flex-item {
	flex: auto;
}

.label{
  margin-bottom: 20px;
}


