@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="margin-top:30px">
            <div class="col-md-4">
                <a class="btn btn-info" href="@Url.Action("Index", "Accounts", new { id = 2 })">Détails des comptes du client N° 2</a>
            </div>
        </div>