@model DAL.Card

@{
    ViewBag.Title = "Suppression d'une carte bancaire";
    Layout = null;
}
<div class="well">
    <h3>Supprimer cette carte bancaire?</h3>
    <div>
        @using (Html.BeginForm($"DeleteCard/{Model.CardId}/{ViewBag.IdCompte}/{ViewBag.IdClient}", "Cards", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CardId)
            <div class="form-actions no-color">
                <button type="submit" class="btn btn-danger">
                    Supprimer
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="CloseModalDel()">
                    Annuler
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        }
    </div>
</div>